{
  "mode": "testops",
  "fallback": "report",
  "testops": {
    "project": "PA",
    "api": {
      "token": "SEU_QASE_TOKEN_AQUI"
    },
    "run": {
      "title": "Automated test - API - run"
    },
    "batch": {
      "size": 100
    }
  },
  "report": {
    "driver": "local",
    "connection": {
      "local": {
        "path": "./target/qase-report",
        "format": "json"
      }
    }
  }
}
